.header{
  height: 10em;
  background-color: green;
}

footer{
height:10em;
background-color:yellow;

}

.book{
display: flex;
flex-wrap: nowrap;
width: 300px;
height: 200px;
background-color: blue;
}
